
<div id="town" class="InfoPlace">
        <div class="InfoImgBack f"></div>
        <p class="TextInfo"><u><!town></u><br><!description></p>
    </div>
    <div class="InfoPlace2">
        <p class="TextInfo2"><!descr> </p>
    </div>
    <div class="Page">
        <div class="PageImg2"></div>
    </div>

    <div class="InfoPlace">
        <div class="InfoImgBack s"></div>
        <p class="TextInfo"><u><!town2></u><br><!description2></p>
    </div>
    <div class="InfoPlace2">
        <p class="TextInfo2"><!descr2></p>
    </div>
    <div class="Page">
        <div class="PageImg3"></div>
    </div>

    <div class="InfoPlace">
        <div class="InfoImgBack fi"></div>
        <p class="TextInfo"><u><!town3></u><br><!description3></p>
    </div>
    <div class="InfoPlace2">
        <p class="TextInfo2"><!descr3></p>
    </div>
    <div class="Page">
        <div class="PageImg4"></div>
    </div>

    <div class="InfoPlace">
        <div class="InfoImgBack si"></div>
        <p class="TextInfo">
            <!town4></u><br><!description4> </p>
    </div>
    <div class="InfoPlace2">
        <p class="TextInfo2"><!descr4> </p>
    </div>