<div id="land" class="InfoPlace">
        <div class="InfoImgBack th"></div>
        <p class="TextInfo"><u><!place></u><br><!description></p>
    </div>
    <div class="InfoPlace">
        <p class="TextInfo"><u><!place2></u><br><!description2></p>
        <div class="InfoImgBack fo"></div>
    </div>


    <div class="InfoPlace">
        <div class="InfoImgBack ni"></div>
        <p class="TextInfo"><!place3></u><br><!description3></p>
    </div>
    <div class="InfoPlace">
        <p class="TextInfo"><u><!place4></u><br><!description4></p>
        <div class="InfoImgBack te"></div>
    </div>


    <div class="InfoPlace">
        <div class="InfoImgBack el"></div>
        <p class="TextInfo"><u><!place5></u><br><!description5></p>
    </div>
    <div class="InfoPlace">
        <p class="TextInfo"><u><!place6></u><br><!description6></p>
        <div class="InfoImgBack tw"></div>
    </div>